<!DOCTYPE html>
<html>

<head>

<title>Inventory Analytics</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="dashboard-container">

<div class="sidebar">

<h2>Logistics</h2>

<a href="/dashboard">Home</a>
<a href="/charts">Charts</a>
<a href="/table">Inventory</a>

</div>

<div class="main-content">

<h1>Inventory Analytics</h1>

<canvas id="inventoryChart"></canvas>

</div>

</div>


<script>

fetch("/inventory")

.then(response => response.json())

.then(data => {

    const labels = data.map(row => row[1])
    const values = data.map((row,index) => index + 1)

    const ctx = document.getElementById("inventoryChart")

    new Chart(ctx, {

        type: "bar",

        data: {

            labels: labels,

            datasets: [{
                label: "Items Scanned",
                data: values,
                backgroundColor: "#2a5298"
            }]

        },

        options: {
            responsive: true
        }

    })

})

</script>

</body>

</html>